<!--main content start-->

<section id="main-content">
    <section class="wrapper site-min-height">
        <div class="row">
            <div class="col-lg-14 ds">
                <h2 class="mb">StreetCodes Academy - Summer Code Camp in East Palo Alto</h2>
            </div><!--/row -->
            <div><label></label></div>
            <div class="row" style="margin-top: ">
                <div class="col-lg-12">
                    
                    <div class="col-lg-6 col-md-6 col-sm-6 mb">
                        <!-- TEAMS -->
                        <div class="ds pn">
                            <h3>Select Your Force</h3>
                            
                            <div class="desc desc-select">
                                <div class="thumb">
                                    <img class="img-circle" src="assets/img/lorde.jpg" width="35px" height="35px" align="">
                                        </div>
                                <div class="details">
                                    <p><a>Individual Mission</a><br/>
                                    <muted>Running Solo</muted>
                                    </p>
                                </div>
                            </div>
                            <!-- First Member -->
                            <div class="desc desc-select">
                                <div class="thumb">
                                    <img class="img-circle" src="assets/img/ui-divya.jpg" width="35px" height="35px" align="">
                                        </div>
                                <div class="details">
                                    <p><a>Middle Age Mutant Ninja Turtles</a><br/>
                                    <muted>Undercover for good agents</muted>
                                    </p>
                                </div>
                            </div>
                            <!-- Second Member -->
                            <div class="desc desc-select">
                                <div class="thumb">
                                    <img class="img-circle" src="assets/img/ui-sherman.jpg" width="35px" height="35px" align="">
                                        </div>
                                <div class="details">
                                    <p><a>Soup Kitchen Squad</a><br/>
                                    <muted>Soup Saturdays</muted>
                                    </p>
                                </div>
                            </div>
                            <!-- Third Member -->
                            <div class="desc desc-select">
                                <div class="thumb">
                                    <img class="img-circle" src="assets/img/ui-danro.jpg" width="35px" height="35px" align="">
                                        </div>
                                <div class="details">
                                    <p><a>Friendly Force</a><br/>
                                    <muted>Join the force to spread the friendliness.</muted>
                                    </p>
                                </div>
                            </div>
                            <!-- Fourth Member -->
                            <div class="desc desc-select">
                                <div class="thumb">
                                    <img class="img-circle" src="assets/img/ui-zac.jpg" width="35px" height="35px" align="">
                                        </div>
                                <div class="details">
                                    <p><a>League of Volunteers</a><br/>
                                    <muted>Legendary</muted>
                                    </p>
                                </div>
                            </div>
                            <!-- Fifth Member -->
                            <div class="desc desc-select">
                                <div class="thumb">
                                    <img class="img-circle" src="assets/img/ui-sam.jpg" width="35px" height="35px" align="">
                                        </div>
                                <div class="details">
                                    <p><a>Hack Legends</a><br/>
                                    <muted>We hack for good.</muted>
                                    </p>
                                </div>
                            </div>
                            
                        </div><!--/col-md-4 -->
                        
                        
                    </div><!--/row -->
                    
                    
                    
                    
                    </section><!--/wrapper -->
</section><!-- /MAIN CONTENT -->
