<!--main content start-->
<section id="main-content">
    <section class="wrapper site-min-height">
        <div class="row">
            <div class="col-lg-14 ds">
                <h2><span ng-cloak class="ng-cloak">{{data.oppStuff.Title}}</span></h2>
            </div>
            <div><label></label></div>
            <div class="col-lg-6 col-md-6 col-sm-6 mb">
                <div class="ds pn">
                    <h3>Select your shift(s)</h3>
                    <div class="steps pn">
                        <input id='op1' name='op1' type='checkbox' checked/>
                        
                        <label for='op1'>7/23 event for P&P</label>
                            <input id='op2' name='op2' type='checkbox'/>
                            <label for='op2'>7/30 event for Paranoids</label>
                            <input id='op3' name='op3' type='checkbox'/>
                            <label for='op3'>8/1 event for P&P</label>
                            <input id='op4' name='op4' type='checkbox'/>
                            <label for='op4'>8/5 event for Paranoids</label>
                            </div>
                            </div>
                            </div><!-- END FORM CONTENTS -->
                            </div>
                            </div>
                            
                            </section><! --/wrapper -->
                            </section><!-- /MAIN CONTENT -->
                            
                            <!--main content end-->