<!--main content start-->
<section id="main-content">
    <section class="wrapper site-min-height">
        
        <div class="row">
            <div class="col-lg-14 ds">
                <h2>Mission Accepted!</h2>
                <h4>You are all set to be a hero.</h4>
                
                <ul id="sortable" class="task-list">
                    <li class="list-primary"><img alt="avatar" src="assets/img/tick.png" height="25" width="25">&nbsp;&nbsp;Mission added to Calendar</li>
                    <li class="list-primary"><img alt="avatar" src="assets/img/tick.png" height="25" width="25">&nbsp;&nbsp;Invitation sent to Team</li>
                    <li class="list-primary"><img alt="avatar" src="assets/img/tick.png" height="25" width="25">&nbsp;&nbsp;Registration Complete
                    </li>
                </ul>
                
            </div>
        </div>
        
    </section><! --/wrapper -->
</section><!-- /MAIN CONTENT -->

<!--main content end-->