      <section id="main-content" ng-controller="oppdetailsController">
          <section class="wrapper site-min-height">
          	<div class="row mt">
          		<div class="col-lg-12">
					<!-- 1st ROW OF PANELS -->
					<div class="row">
					       <!-- Mission Panel -->
						<div class="col-lg-12 col-md-12 col-sm-12 mb">
							<div class="content-panel pn">
								<div id="blog-bg"></div>
								<div class="blog-text">
							        	<div class="info"> 
								  		<h3><span ng-cloak class="ng-cloak">{{data.oppStuff.Title}}</span></h3> <!-- OID: 651 -->
								  		<p><i class="fa fa-map-marker fa-lg"></i> &nbsp;&nbsp; <span ng-cloak class="ng-cloak">{{data.oppStuff.Location}}</span></p>
								  		<p><i class="fa fa-clock-o fa-lg"></i> &nbsp;&nbsp; <span ng-cloak class="ng-cloak">{{data.oppStuff.Time}}</span></p>
								 		<p><i class="fa fa-smile-o fa-lg"></i> &nbsp;&nbsp; 2 heroes needed</p>
									</div>
									<img style="margin-left:50px" src="{{data.oppStuff.ImgURL}}"></img>
									<div class="info"> 
								  		<h3>Mission Details</h3>
								 		<p>There are various opportunities for Yahoos</p>
								 		<p>(1) Lunch presentation/speaking: talk about what you do and how you got there; teach design thinking workshop; speak on front-end design, user interface and interaction, programming related to Javascript.</p>
								 		<p>(2) Mentor/teach East Palo Alto youth coding skills (HTML, CSS, Javascript)</p>
								 		<p>Please contact Grace at gcchung @yahoo-inc.com if you have any questions/need suggestions on making this a team event.</p>
									</div>
									<div class="info"> 
								  		<h3>Location</h3>
										<span ng-cloak class="ng-cloak">{{data.oppStuff.Location}}</span>
									</div>
									<div class="info"> 
								  		<h3>Skils Needed</h3>
								  	        <button type="button" class="btn btn-info">Interactive Design & UI</button> 
										<button type="button" class="btn btn-success">Mentoring</button>	
								  	        <button type="button" class="btn btn-info">iPhone Application Development</button> 
										<button type="button" class="btn btn-success">Teaching/Instruction</button>	
									</div>
									<div class="info"> 
								  		<h3>Interests</h3>
								  	        <button type="button" class="btn btn-info">Community Support</button> 
										<button type="button" class="btn btn-success">Education</button>	
								  	        <button type="button" class="btn btn-warning">Science + Tech</button>
										<button type="button" class="btn btn-danger">Youth Centers</button>
									</div>




								</div>
							</div>
						</div><!-- /col-md-4-->
	
					</div><!-- /END ROW OF PANELS -->

					
          		</div>
          	</div>
			
		</section><!--/wrapper -->
      </section><!-- /MAIN CONTENT -->

      <!--main content end-->
 
